<div style="background-color: GAINSBORO">
    <h1>Master Log Viewer</h1>
    <p class="lead">Live feed of Master Log entries.</p>
    <div id="welcome-messages"></div>
</div>


@section scripts {
    <script src="~/Scripts/jquery.signalR-2.4.0.min.js"></script>
    <script src="~/signalr/js"></script>
    <script src="~/Scripts/SignalR.js"></script>
    
}

    <div>
        
        <table class='table' id="logEntries">
            <thead>
                <tr>
                    <th onclick="sortTable(0)">Timestamp</th>
                    <th onclick="sortTable(1)">Log entry source</th>
                    <th onclick="sortTable(2)">Status</th>
                    <th onclick="sortTable(3)">Log entry text</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>




